.title {
  font-family: SVN-PoppinsSemiBold;
  font-size: 30px;
  color: var(--TextPrimaryColor);
}

.subtitle {
  margin-top: 20px;
  width: 70%;
  font-family: SVN-PoppinsRegular;
  font-size: 14px;
  color: var(--TextSubColor);
  line-height: 24px;
}