.fromGroupTitle {
  font-size: 14px;
  line-height: 15px;
  font-family: SVN-PoppinsMedium;
}

.languageRadioItem {
  margin-top: 20px;

  h4 {
    font-size: 14px;
    line-height: 15px;
    font-family: SVN-PoppinsMedium;
  }

  p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 2.5px;
    font-family: SVN-PoppinsRegular;
  }
}