@import '/styles/mixins';

.thirdForm {
  background-color: var(--BgPrimaryColor);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 1px 1px var(--Shadow);

  @include smMaxBreakPoint {
    box-shadow: none;
  }

  .formLayout {
    display: flex;
    flex-direction: column;
    align-items: center;

    .formTitle {
      width: 50%;
      text-align: center;
      font-family: SVN-PoppinsSemiBold;
      font-size: 25px;
    }

    .formLastAndFirstName {
      display: flex;
      width: 100%;
      margin-top: 25px;
      flex-direction: row;

      .formLastName {
        margin-right: 10px;
      }

      .formFirstName {
        margin-left: 10px;
      }
    }

    .formBirthday {
      margin-top: 25px;
    }

    .formPickCountryCode {
      width: 40%;
      border-radius: 15px;

      &.css-13cymwt-control {
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: default;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        min-height: 38px;
        outline: 0 !important;
        position: relative;
        -webkit-transition: all 100ms;
        transition: all 100ms;
        background-color: antiquewhite;
        border-color: hsl(0, 0%, 80%);
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
      }
    }

    .formNextButton {
      margin-top: 20px;

      &:active {
        background-color: rgba(12, 142, 255, 0.5);
      }

      &:disabled {
        background-color: rgba(12, 142, 255, 0.5);
      }
    }

    .signUpPrivacy {
      font-size: 13px;
      margin-top: 25px;
      line-height: 20px;
      font-family: SVN-PoppinsRegular;
      color: var(--TextSubColor);

      span {
        font-family: SVN-PoppinsMedium;
        color: var(--PrimaryColor);
      }
    }
  }
}