.arrowButon {
  z-index: 1410;
  width: 45px;
  height: 45px;
  background-color: var(--StoryArrowFrameColor);
  border-radius: 200px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--IconStoryArrowFrameColorHover);
  }
}