.feedAvatar {
  width: 100%;
  position: relative;
  aspect-ratio: 1.2/1;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  padding: 30px;
  justify-content: center;
  align-items: center;

  .avatar {
    background-color: var(--BgSubColor);
    border-radius: 1000px;
    height: 100%;
    box-shadow: 0 0 0 3px var(--BgSubColor);
    display: flex;
    aspect-ratio: 1/1;
    overflow: hidden;
    align-items: center;
    padding: 5px;
    position: relative;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
      border-radius: 1000px;
      object-fit: cover;
    }
  }
}