@import "/styles/mixins";

.menuSideLayout {
  height: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--BgPrimaryColor);

  .container {
    display: flex;
    z-index: 1200;
    flex: 1;
    position: sticky;
    justify-content: center;
    flex-direction: row;

    .leftSide {
      display: flex;
      flex: 1;
      top: 60px;
      box-shadow: 4px 0 2px -4px var(--BorderColor);
      flex-grow: 100%;
      height: calc(100vh - 60px);
      position: sticky;
      overflow: hidden;
    }

    .children {
      display: flex;
      flex: 2.5;
      padding: 30px;
      flex-direction: column;
      overflow: hidden;
    }

    .rightSide {
      display: flex;
      flex: 1;
      top: 60px;
      flex-grow: 100%;
      position: sticky;
      height: calc(100vh - 60px);
      background-color: var(--BgPrimaryColor);
    }
  }
}

.homeMobileLayout {
  background-color: var(--BgPrimaryColor);

  .homeWrap {
    padding-top: 0px;
    padding-bottom: 60px;
    min-height: calc(100vh - 60px);
    background-color: var(--BgSubColor);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    &.showMobileHeader {
      padding-top: 60px;
    }
  }
}

.mobileHeader {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--BgPrimaryColor);

  .badgeItem {
    margin-right: 15px;

    span {
      background-color: #f91c3d;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #fff;
      font-family: SVN-PoppinsMedium;
    }
  }

  .logo {
    display: flex;
    flex: 1;
    padding: 0px 10px;
  }

  .icFrame {
    height: 40px;
    width: 40px;
  }
}

.labelBotNavItem {
  color: var(--MobileLabelBotNavColor);
  font-family: SVN-PoppinsRegular;

  &.isActive {
    color: var(--PrimaryColor);
  }
}